@*
    Request["pageIndex"]
    Request["search"]
    Request["Accessable"]
    Index?pageIndex=@ViewData["pageIndex"]&search=@ViewData["search"]&Accessable=@ViewData["Accessable"]
*@

@using ModelAPI


@{
    int index = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">

            <script>
                $(function () {
                    //筛选权限
                    $('.accessChoose').click(function () {
                        $.post('/AJAXInterface/AccessChange', { 'access': this.id }, function (data) {
                            window.location.reload();
                        });
                    });
                    //查找搜索
                    $('#searchSubmit').click(function () {
                        $.post('/AJAXInterface/Search', { 'search': $('#search').val() }, function (data) {
                            window.location.reload();
                        });
                    });
                   
                });
            </script>

            @*筛选框*@
            <div class="row-fluid">

                @*模板权限*@
                <div class="span4">
                    <div class="btn-group">
                        <button class="btn input-block-level" disabled>模板权限</button> <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" class="accessChoose" id="public">公共模板</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="accessChoose" id="private">私有模板</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="accessChoose" id="organization">组织模板</a>
                            </li>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" class="accessChoose" id="public">公共模板</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="accessChoose" id="private">私有模板</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="accessChoose" id="organization">组织模板</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>

                @*查找框*@
                <div class="span4 form-search">
                    <input class="input-medium search-query" type="text" name="search" id="search" value="@ViewData["search"]" />
                    <button id="searchSubmit" class="btn">查找</button>
                </div>

                @*模板类型*@
                <div class="span4">
                    <div class="btn-group">
                        <button class="btn input-block-level" disabled>模板类型</button> <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="word">文档模板</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="ppt">幻灯片模板</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="excel">表格模板</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="image">图片素材</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="audio">音频素材</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="templetType" id="video">视频素材</a>
                            </li>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="word">文档模板</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="ppt">幻灯片模板</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="excel">表格模板</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="image">图片素材</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="audio">音频素材</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="templetType" id="video">视频素材</a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>


            </div>

            @*模板列表*@
            <div class="row-fluid">
                <div class="span12">
                    <ul class="thumbnails">
                        @{

                            IQueryable<BaseTemplet> templets = (IQueryable<BaseTemplet>)ViewData["Templets"];
                            int i = 0;
                            foreach (BaseTemplet templet in templets)
                            {
                                if (i == 3)
                                {
                                    @MvcHtmlString.Create("</ul>")
                                    @MvcHtmlString.Create("<ul class='thumbnails'>")
                                }
                                <li class="span4">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="@templet.ImagePath" />
                                        <div class="caption">
                                            <h3>
                                                @templet.TempletName
                                            </h3>
                                            <p>
                                                @templet.TempletIntroduction
                                            </p>
                                            <p>
                                                <a class="btn btn-primary" href="@templet.FilePath">下载</a>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                i++;
                            }
                        }
                    </ul>
                    <div class="pagination pagination-centered pagination-large">
                        <ul>
                            <li>
                                <a href="/Home/Index?pageIndex=@(index-1)">上一页</a>
                            </li>
                            @{
                                int count = (int)ViewData["pageCount"];
                                int j, k;
                                if (count < 10)
                                {
                                    j = 1; k = count;
                                }
                                else if (index < 7)
                                {
                                    j = 1; k = 10;
                                }
                                else if (index > count - 4)
                                {
                                    j = count - 9; k = count;
                                }
                                else
                                {
                                    j = index - 5; k = index + 4;
                                }
                                {
                                    for (i = j; i <= k; i++)
                                    {
                                        <li>
                                            <a href="~/Home/Index?pageIndex=@i" @if (i == index) { @MvcHtmlString.Create("class='active'") }>@i</a>
                                        </li>
                                    }
                                }
                            }
                            <li>
                                <a href="~/Home/Index?pageIndex=@((index+1)<=count?index+1:count)">下一页</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>			