@using ModelAPI;
@{
    ViewBag.Title = "OrganizationManager";
}

@*组织加入逻辑*@
<script>
    $(function () {
        $('#addOrganization').click(function () {
            $.post("/AJAXInterface/AddOrganization", { "organizationID": $('#OrganizationID').val(), "organizationPWD": $('#OrganizationPassWord').val() }, function (data) {
                if (data == "success")
                    window.location.reload();
                else
                    alert(data);
            });
        });
    });
</script>

@*退出组织逻辑*@
<script>
    $(function () {
        $('#ExitOrganization').click(function () {
            if (confirm("确认退出组织？")) {
                $.post('/AJAXInterface/ExitOrganization', {}, function (data) {
                    if (data != "Success")
                        alert(data);
                    window.location.href = "/Home/Index";
                });
            }
        });
    });
</script>

@*组织修改逻辑*@
<script>
    $(function () {
        $('#Mod').click(function () {
            $.post('/AJAXInterface/ModOrganizationInfo', { 'Name': $('#OrganizationName').val(), 'PWD': $('#inputPassword').val(), 'Auth': $('#Auth').val() }, function (data) {
                window.location.reload();
            });
        });
    });
</script>

@*组织成员删除逻辑*@
<script>
    $(function () {
        $('.delUser').click(
            function () {
                if (confirm("确定删除该成员?"))
                    $.post('/AJAXInterface/RemoveFromOrganization', { "userID": this.id }, function (data) {
                        if (data == "success")
                            window.location.reload();
                        else
                            alert(data);
                    });
            });
    });
</script>

@*组织成员修改逻辑*@
<script>
    $(function () {
        $('.saveUser').click(function () {
            $.post('/AJAXInterface/ChangeUserFromOrganization', { 'Auth': $(this).closest("tr").find(".selectAuth").val(), "ID": $(this).closest("tr").find(".selectAuth").attr("id") }, function (data) {
                if (data == "success")
                    window.location.reload();
                else
                    alert(data);
            });
        });
    });
</script>



@{
    UserInfo userInfo = (UserInfo)ViewData["UserInfo"];
    if (userInfo.Organization == null)
    {
        //无组织时加入组织提示
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <h1>
                            您还没有加入任何组织
                        </h1>
                        <p>
                            如果您希望加入一个组织，请单击下面的加入组织或创建组织按钮。请注意，您可以随时退出组织并重新选择组织加入，但每个账号只能拥有一个组织。您的组织中可以没有任何的共享资源，但是请保证您的组织至少有一名成员，否则该组织将被解散。
                        </p>
                        <p>
                            <a class="btn btn-primary btn-large" id="modal-807539" href="#modal-container-807539" role="button" data-toggle="modal">加入组织 »</a>
                            <a class="btn btn-primary btn-large" href="/Home/OrganizationRegister">创建组织 »</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        //有组织时显示组织信息
        OrganizationInfo organization = userInfo.Organization;
        ICollection<UserInfo> users = organization.UserInfos;
        bool auth;
        if (userInfo.UserAuth == UserAuth.Admin)
        { auth = true; }
        else
        { auth = false; }


        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6">
                    <a id="modal-19870" href="#modal-container-19870" role="button" class="btn btn-block btn-info" data-toggle="modal">组织信息管理</a>
                </div>
                <div class="span6">
                    <button class="btn btn-block btn-danger" type="button" id="ExitOrganization">退出组织</button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover" contenteditable="true">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>权限</th>
                    <th>电话号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (UserInfo user in users)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <select name="Auth" class="selectAuth" id="@user.ID" value="@user.UserAuth.ToString()" required @{if (user.ID == userInfo.ID || !auth) { @MvcHtmlString.Create("disabled")  } }>
                                    <option>普通用户</option>
                                    <option>可上传</option>
                                    <option>管理员</option>
                                </select>
                            </td>
                            <td>@user.PhoneNumber</td>
                            <td>
                                <span><a class="btn danger delUser" id="@user.ID" @{if (user.ID == userInfo.ID || !auth) { @MvcHtmlString.Create("disabled")  } }>删除用户</a></span>
                                <span><a class="btn saveUser" id="@user.ID" @{if (user.ID == userInfo.ID || !auth) { @MvcHtmlString.Create("disabled")  } }>保存设置</a></span>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


        @*管理组织信息遮罩窗体*@
        <div id="modal-container-19870" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    组织信息
                </h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="/Home/EditOrganization">
                    <div class="control-group">
                        <label class="control-label" for="OrganizationName">组织ID</label>
                        <div class="controls">
                            <label class="input-block-level">@organization.ID</label>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="OrganizationName">组织名称</label>
                        <div class="controls">
                            <input class="input-block-level" id="OrganizationName" name="OrganizationName" placeholder="OrganizationName" value="@organization.OrganizationName" type="text" @{if (!auth) { @MvcHtmlString.Create("disabled")  } } />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">组织密码</label>
                        <div class="controls">
                            <input class="input-block-level" id="inputPassword" name="OrganizationPWD" placeholder="OrganizationPassword" value="@organization.Password" type="password" @{if (!auth) { @MvcHtmlString.Create("disabled")  } } />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">组织默认权限</label>
                        <div class="controls">
                            <select class="input-block-level" value="@organization.DefaultUserAuth.ToString()" id="Auth" name="Auth" @{if (!auth) { @MvcHtmlString.Create("disabled")  } }>
                                <option>普通用户</option>
                                <option>可上传</option>
                                <option>管理员</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <button class="btn btn-primary" @{if (!auth) { @MvcHtmlString.Create("disabled")  } } id="Mod">保存设置</button>
            </div>
        </div>


    }
}




@*加入组织信息遮罩窗体*@
<div id="modal-container-807539" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            组织信息
        </h3>
    </div>
    <div class="modal-body">
        <p>
            <div class="control-group">
                <label class="control-label" for="OrganizationID" id="organizationID">组织ID</label>
                <div class="controls">
                    <input id="OrganizationID" class="input-block-level" type="text" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="OrganizationPassWord" id="organizationPWD">组织密码</label>
                <div class="controls">
                    <input id="OrganizationPassWord" class="input-block-level" type="password" />
                </div>
            </div>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="addOrganization">加入组织</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
    </div>
</div>