@using ModelAPI

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@
    @*@Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")*@
</head>
<body>

    @{
        UserInfo userInfo = (UserInfo)ViewData["UserInfo"];
    }

    @*注册逻辑判断*@
    <script>
        var i1 = false;
        var i2 = false;
        var i3 = false;
        var i4 = false;
        function ableSub() {
            if (i1 && i2 && i3 && i4)
                $('#btnSub').attr('disabled', false);
            else
                $('#btnSub').attr('disabled', true);
        }

        $(function () {
            $('#username').blur(function () {

                if ($('#username').val() != "") {
                    $.post('/AJAXInterface/CheckUser', { "username": $('#username').val() }, function (data) {
                        if (data == "True") {
                            $('#usernameMsg').css('color', 'red').html('用户名已存在');
                            i1 = false;
                            $('#btnSub').attr('disabled', true);
                        } else {
                            $('#usernameMsg').css('color', 'green').html('用户名可用');
                            i1 = true;
                            ableSub();
                        }
                    });
                } else {
                    $('#usernameMsg').css('color', 'red').html('用户名不能为空');
                    i1 = false;
                    $('#btnSub').attr('disabled', true);
                }
            });
            $('#pwd').blur(function () {
                if ($('#pwd').val() == "") {
                    $('#pwdMsg').css('color', 'red').html('密码不能为空');
                    i2 = false;
                    $('#btnSub').attr('disabled', true);
                } else {
                    $('#pwdMsg').css('color', 'green').html('密码可用');
                    i2 = true;
                    ableSub();
                }
            });
            $('#pwdValidate').blur(function () {
                if ($('#pwdValidate').val() != $('#pwd').val()) {
                    i3 = false;
                    $('#btnSub').attr('disabled', true);
                    $('#pwdValidateMsg').css('color', 'red').html('两次输入密码不一致');
                } else if ($('#pwdValidate').val() == "") {
                    i3 = false;
                    $('#pwdValidateMsg').css('color', 'red').html('请再次输入密码');
                    $('#btnSub').attr('disabled', true);
                } else {
                    $('#pwdValidateMsg').css('color', 'green').html('密码可用');
                    i3 = true;
                    ableSub();
                }
            });
            $('#phonenumber').blur(function () {
                if (!(/^1[3|4|5|7|8|9][0-9]\d{8}$/.test($('#phonenumber').val()))) {
                    $('#phonenumberMsg').css('color', 'red').html('手机号码不正确');
                    i4 = false;
                    $('#btnSub').attr('disabled', true);;
                } else {
                    $('#phonenumberMsg').css('color', 'green').html('手机号码可用');
                    i4 = true;
                    ableSub();
                }
            });

        });
    </script>


    @*登录注册回调函数*@
    <script>
        function afterLogin(data) {
            if (data == "success") {
                window.location.reload();
            } else {
                alert(data);
            }
        }
    </script>

    @*修改信息回调函数*@
    <script>
        function afterChg(data) {
            if (data == "success") {
                window.location.reload();
            } else {
                alert(data);
            }
        }
    </script>

    @*登出逻辑*@
    <script>
        $(function () {
            $('#logOut').click(function () {
                if (confirm('确认登出')) {
                    $.post('/AJAXInterface/Logout', {}, function (data) {
                        if (data == "True")
                            window.location.reload();
                        else
                            alert("登出失败，请稍后再试");
                    });
                }
            });
        });
    </script>

    @*模板类型*@
    <script>
        $(function () {
            $('.templetType').click(function () {
                $.post('/AJAXInterface/TempletTypeChange', { 'templetType': this.id }, function (data) {
                    window.location.href = "/Home/Index";
                });
            });
        });
    </script>

    @*导航条*@
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"> </a> <a class="brand" href="~/Home/Index">Word文档共享</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li><a href="~/Home/Index" class="templetType" id="word">文档模板</a></li>
                        <li><a href="javascript:void(0)" class="templetType" id="ppt">幻灯片模板</a></li>
                        <li><a href="javascript:void(0)" class="templetType" id="excel">表格模板</a></li>
                        <li><a href="javascript:void(0)" class="templetType" id="image">图片素材</a></li>
                        <li><a href="javascript:void(0)" class="templetType" id="video">视频素材</a></li>
                        <li><a href="javascript:void(0)" class="templetType" id="audio">音频素材</a></li>
                        <li><a href="javascript:void(0)">插件下载</a></li>
                    </ul>
                    @{
                        if (userInfo == null)
                        {
                            <ul class="nav pull-right">
                                <li><a id="modal-160001" href="#modal-container-160001" role="button" data-toggle="modal">登录</a></li>
                                <li class="divider-vertical">&nbsp;</li>
                                <li><a id="modal-160002" href="#modal-container-160002" role="button" data-toggle="modal">注册</a></li>
                                <li class="divider-vertical">&nbsp;</li>
                            </ul>
                        }
                        else
                        {
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">@userInfo.UserName</a>
                                    <ul class="dropdown-menu">
                                        <li><a id="modal-160003" href="#modal-container-160003" role="button" data-toggle="modal">个人信息</a></li>
                                        <li><a href="/Home/OrganizationManager">组织信息</a></li>
                                        <li><a href="#">模板管理</a></li>
                                        <li><a href="javascript:void(0)" id="logOut">退出登录</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                    }
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>


    @*遮罩窗体*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*登录表单*@
        <div id="modal-container-160001" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    登录
                </h3>
            </div>
            @using (Ajax.BeginForm("UserLogin", "AJAXInterface", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterLogin" }, new { id = "loginForm" }))
            {
                <div class="modal-body">
                    <label contenteditable="true">用户名</label>
                    <input placeholder="用户名" type="text" name="username" id="usernameLog" class="input-block-level" required />
                    <label contenteditable="true">密码</label>
                    <input class="input-block-level" placeholder="密码" type="password" name="userPWD" required />

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="userRegSubmit">登陆</button>
                    <button class="btn btn-primary">找回密码</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>}
        </div>
        @*注册表单*@
        <div id="modal-container-160002" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">
                    注册
                </h3>
            </div>
            @using (Ajax.BeginForm("UserReg", "AJAXInterface", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterLogin" }, new { id = "RegForm" }))
            {
                <div class="modal-body">
                    <div class="form-group" id="divForm">
                        <div class="input-append">
                            <input type="text" class="form-control input-block-level" id="username" name="username" placeholder="用户名" required />
                            <span class="add-on" id="usernameMsg">请填写用户名</span>
                        </div>
                        <br />
                        <div class="input-append">
                            <input type="password" class="form-control input-block-level" id="pwd" name="userPWD" placeholder="密码" required />
                            <span class="add-on" id="pwdMsg">请填写密码</span>
                        </div>
                        <br />
                        <div class="input-append">
                            <input type="password" class="form-control input-block-level" id="pwdValidate" name="pwdValidate" placeholder="确认密码" required />
                            <span class="add-on" id="pwdValidateMsg">请确认密码</span>
                        </div>
                        <br />
                        <div class="input-append">
                            <input type="tel" class="form-control input-block-level" id="phonenumber" name="phoneNumber" placeholder="电话号码" required />
                            <span class="add-on" id="phonenumberMsg">请输入电话号码</span>
                        </div>
                        <br />
                        <div class="input-append">
                            <input type="text" class="form-control  input-block-level" id="organizationID" name="organizationID" placeholder="组织ID" />
                            <span class="add-on" id="emailMsg">请输入组织ID(选填)</span>
                        </div>
                        <br />
                        <div class="input-append">
                            <input type="password" class="form-control input-block-level" id="organizationPWD" name="organizationPWD" placeholder="组织密码" />
                            <span class="add-on" id="addressMsg">请输入组织密码(选填)</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" id="btnSub" disabled="true">立即注册</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            }

        </div>

        @*修改信息表单*@
        @if (userInfo != null)
        {
            <div id="modal-container-160003" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">
                        修改信息
                    </h3>
                </div>
                @using (Ajax.BeginForm("UserChg", "AJAXInterface", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterChg" }, new { id = "ChgForm" }))
                {
                    <div class="modal-body">
                        <div class="form-group" id="divForm">
                            <div class="input-append">
                                <input type="text" class="form-control input-block-level" name="username" placeholder="用户名" value="@userInfo.UserName" required="">
                                <span class="add-on" id="usernameMsg">用户名</span>
                            </div>
                            <br>
                            <div class="input-append">
                                <input type="password" class="form-control input-block-level" name="userPWD" placeholder="密码">
                                <span class="add-on" id="pwdMsg">密码</span>
                            </div>
                            <br>
                            <div class="input-append">
                                <input type="password" class="form-control input-block-level" name="pwdValidate" placeholder="确认密码">
                                <span class="add-on" id="pwdValidateMsg">确认密码</span>
                            </div>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" id="btnSub">修改信息</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                        </div>
                    </div>
                }
            </div>
        }

    </div>


    <footer>
        <p>&copy; @DateTime.Now.Year - word模板分享</p>
    </footer>
</body>
</html>
